---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Full-Stack Application Development",
    description:
      "Bring your requirements because we work with almost any framework and most languages to build your next app.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "SEO Content Planning + Creation",
    description:
      "We are SEO experts and can help you plan and create content that engages your target audience.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Web and Graphic Design Services",
    description:
      "Not only will we design your websites components, but we also design your ads, infographics, or whatever digital creation you need.",
    icon: "bx:bxs-data",
  },
  {
    title: "Ecommerce Store Development and Consulting",
    description:
      "With over a decade of ecommerce experience, we can take you from ideation all the way to mature growth stages.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Digital Marketing & Business Strategy",
    description:
      "No matter what your product is, we can help you with a total digital approach, helping you achieve success at each phase of its life cycle.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Problem Solving and Tool Building",
    description:
      "We help solve many problems, from brand recognition issues all the way to cybersecurity network hardening solutions - our technical prowess is vast so just tell us what you need!",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-[#063e5d]">
    We have everything a digital business needs to succeed
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    We are a full-service digital agency, capable of serving our clients in every aspect of their strategy whether its
    app/website development, cybersecurity, or digital marketing, our diverse and extensive experience allows us to cater
    to your every need while understanding your very unique needs as a business.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-[#063e5d] rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg text-[#063e5d]">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
